@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    font-family: "Roboto-Slab", serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

}

.header-hero-wrapper {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.header-logo {
    height: 50px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;

}

.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
    gap: 30px;

}

.JM-tech-card {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;

}

.hero-text {
    color: #E5E7EB;
    max-width: 700px;
    
}

.sign-up {
    background-color: blue;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    max-width: 100px;
}

.cards-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid blue;
}

.cards-wrapper h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: -50px;
}

.cards-wrapper {
    margin: 100px;
}

.card-subtext {
    text-align: center;
    margin-top: 5px;
}

.quote-wrapper {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 400px;
    padding-right: 400px;
    
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    
    
}

.qoute-author {
    font-weight: 900;
    align-self: flex-end;
    font-size: 26px;
    
    
}

.end-wrapper {
    margin: 100px;
}

.end-container {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
}

.end-text {
    color: white;
    margin: 0;
    padding: 0;

}

h3{
    color: white;
    margin: 0;
    padding: 0;

}

.sign-up-second{
    border: 2px solid #E5E7EB;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 14;
}

.footer-wrapper {
    background-color: #1F2937;
}

.footer{
    text-align: center;
    padding: 20px;
}

.footer-text {
    color: #E5E7EB;
}